<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Eventos</title>
    <!-- Agregar los enlaces a los archivos CSS de Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Lista de Eventos</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Descripción</th>
                    <th>Fecha de Inicio</th>
                    <th>Fecha de Fin</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for evento in eventos %}
                <tr>
                    <td>{{ evento.titulo }}</td>
                    <td>{{ evento.descripcion }}</td>
                    <td>{{ evento.fecha_inicio }}</td>
                    <td>{{ evento.fecha_fin }}</td>
                    <td>
                        <a href="{% url 'detalle_evento_web' evento.id %}" class="btn btn-primary">Ver</a>
                        <a href="{% url 'editar_evento' evento.id %}" class="btn btn-warning">Editar</a>
                        <a href="{% url 'eliminar_evento' evento.id %}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
